* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ads {
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ads__text {
  text-align: center;
}