@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Шрифты */
/* Others */
body {
  font-family: "Inter", sans-serif;
  transition: 0.5s;
}

a {
  color: #008cf0;
}
a:hover {
  color: #f36223;
}
a:active {
  color: #a93a09;
}

/* Оболочка */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

/* Контейнер */
.--container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 1499.98px) {
  .--container {
    max-width: 1024px;
    padding: 0 15px;
  }
}
@media (max-width: 767.98px) {
  .--container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .--container {
    max-width: none;
  }
}

.head {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
  background: #ffffff;
  width: 100%;
  z-index: 10;
}
.head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.head__body {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.head__logo {
  height: 40px;
}
.head__img {
  height: 100%;
  transition: 0.1s;
}
.head__img:hover {
  -webkit-animation: bzz 250ms ease-in;
          animation: bzz 250ms ease-in;
}
@-webkit-keyframes bzz {
  10% {
    transform: translate(-3px);
  }
  20% {
    transform: translate(3px);
  }
  30% {
    transform: translate(-3px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-3px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-3px);
  }
  80% {
    transform: translate(3px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(3px);
  }
}
@keyframes bzz {
  10% {
    transform: translate(-3px);
  }
  20% {
    transform: translate(3px);
  }
  30% {
    transform: translate(-3px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-3px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-3px);
  }
  80% {
    transform: translate(3px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(3px);
  }
}
.head__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
.head__title span {
  color: #f36223;
}
.head__actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 30px;
  flex: 0 0 auto;
  cursor: pointer;
}
.head__favorite {
  position: relative;
  height: 100%;
  max-width: 30px;
  z-index: 1;
}
.head__favorite-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: calc(100% - 10px);
  font-size: 10px;
  font-weight: 700;
  color: white;
  background: #444444;
  padding: 2px 6px;
  border-radius: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.head__cart {
  position: relative;
  height: 100%;
  max-width: 30px;
}
.head__cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: calc(100% - 10px);
  font-size: 10px;
  font-weight: 700;
  color: white;
  background: #444444;
  padding: 2px 6px;
  border-radius: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Меню */
.menu {
  padding-top: 80px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 8px 0px;
  gap: 4px;
}
.menu__link {
  color: #008cf0;
}
.menu__link:hover {
  color: #f36223;
}
.menu__link:active {
  color: #a93a09;
}

.hero__content {
  margin-bottom: 30px;
}
.hero__title {
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 20px;
}

/* Галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.gallery__item {
  height: 387px;
}

/* Центральный блок */
.main-block__content {
  margin-bottom: 50px;
}
.main-block__body {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.main-block__feature {
  flex: 1 1 auto;
}
.main-block__colors {
  margin-bottom: 30px;
}
.main-block__memory {
  margin-bottom: 30px;
}
.main-block__specifications {
  margin-bottom: 30px;
}
.main-block__description {
  margin-bottom: 30px;
}
.main-block__sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  flex: 1 0 420px;
}
.main-block__iframe {
  height: 100%;
}

/* Выбор цвета */
.colors__title {
  font-size: 16px;
  padding-bottom: 15px;
}
.colors__list {
  display: flex;
  gap: 10px;
  list-style: none;
}
.colors__label {
  position: relative;
}
.colors__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.colors__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 80px;
  height: 80px;
  padding: 10px 25px;
  border: 1px solid #888888;
  border-radius: 4px;
  transition: background 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.colors__btn:hover {
  background: #f2f2f2;
  box-shadow: 0 0 1px 0.5px #30cfff;
}
.colors__btn:active {
  border: 1px solid #a93a09;
  box-shadow: none;
  background: white;
}
.colors__input:checked + .colors__btn {
  border: 1px solid #f36223;
  outline: 1px solid #f36223;
}
.colors__img {
  height: 100%;
}

/* Выбор памяти */
.memory__title {
  font-size: 16px;
  padding-bottom: 15px;
}
.memory__list {
  display: flex;
  gap: 10px;
  list-style: none;
}
.memory__label {
  position: relative;
}
.memory__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.memory__input:checked + .memory__btn {
  border: 1px solid #f36223;
  outline: 1px solid #f36223;
}
.memory__btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 0.3s ease;
  cursor: pointer;
}
.memory__btn:hover {
  background: #f2f2f2;
  box-shadow: 0 0 1px 0.5px #30cfff;
}
.memory__btn:active {
  border: 1px solid #a93a09;
  box-shadow: none;
  background: white;
}

/* Характеристики */
.specifications__title {
  font-size: 16px;
  padding-bottom: 15px;
}
.specifications__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  list-style: none;
}
.specifications__item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #888888;
  border-radius: 50%;
}
.specifications__item span {
  font-weight: bold;
}

/* Описание */
.description__title {
  font-size: 16px;
  padding-bottom: 15px;
}
.description__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.description__text {
  font-weight: 500;
  font-size: 16px;
}

/* Корзина */
.cart {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 420px;
}
.cart__price {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.cart__old-price {
  font-weight: 500;
  line-height: 16px;
  color: #888888;
  text-decoration: line-through;
}
.cart__discount {
  padding: 4px 8px;
  background: #f36223;
  border-radius: 500px;
  color: white;
  font-weight: 500;
  line-height: 16px;
}
.cart__new-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 15px;
}
.cart__delivery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 35px;
}
.cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f36223;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: white;
  gap: 15px;
  transition: 0.4s;
}
.cart__btn:hover {
  background: #da4a0c;
}
.cart__btn::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../src/images/cart.svg) center/contain no-repeat;
}
.cart__btn:active {
  background: #a93a09;
}
.cart__favorite {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.cart__favorite:checked + .cart__heart svg path {
  fill: #a93a09;
}
.cart__heart {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cart__heart:hover svg path {
  fill: #f36223;
}

/* Таблица сравнения */
.comparison__content {
  margin-bottom: 30px;
}
.comparison__title {
  font-size: 16px;
  padding-bottom: 15px;
}
.comparison__table {
  min-width: 882px;
  border-collapse: collapse;
}
.comparison__table thead {
  border: 1px solid #888888;
  background: #e8edff;
}
.comparison__table tbody {
  border: 1px solid #888888;
}
.comparison__table tbody tr:hover {
  background: #f2f2f2;
}
.comparison__table th,
.comparison__table td {
  border-right: 1px solid #888888;
  padding: 10px;
}

/* Отзывы */
.reviews__wrapper {
  max-width: 880px;
}
.reviews__content {
  margin-bottom: 50px;
}
.reviews__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.reviews__col-left {
  display: flex;
  gap: 10px;
}
.reviews__title {
  font-size: 24px;
}
.reviews__meter {
  font-weight: 700;
  font-size: 24px;
  color: #aaa;
}
.reviews__btn {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: white;
}
.reviews__btn:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.reviews__review:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px dashed #888888;
  margin: 40px 0 40px 170px;
}

/* Отзыв */
.review {
  display: flex;
  gap: 30px;
}
.review__content {
  display: flex;
  flex-direction: column;
}
.review__avatar {
  height: 140px;
  border-radius: 50%;
}
.review__header {
  padding-bottom: 20px;
}
.review__author {
  font-size: 20px;
  padding-bottom: 10px;
}
.review__iformation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review__iformation span {
  font-weight: bold;
}
.review__text {
  font-size: 14px;
}
.review__subtitle {
  display: block;
}

/* Форма для озыва */
.feedback__content {
  margin-bottom: 100px;
}
.feedback__wrapper {
  max-width: 880px;
  padding-left: 170px;
}
.feedback__title {
  padding-bottom: 10px;
}
.feedback__body {
  width: 100%;
}

.form-review :active,
.form-review :hover,
.form-review :focus {
  outline: 0;
  outline-offset: 0;
}
.form-review__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
}
.form-review__head {
  display: flex;
  gap: 40px;
  width: 100%;
}
.form-review__label-user-name {
  position: relative;
  flex: 1 1 auto;
}
.form-review__label-user-name :focus {
  border: 1px solid #000;
}
.form-review__input-user-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #888888;
}
.form-review__user-name-err {
  transition: 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: block;
  padding: 8px 20px;
  background: #da4a0c;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  opacity: 0;
}
.form-review__grade {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 175px;
}
.form-review__grade-err {
  transition: 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: block;
  padding: 8px 20px;
  background: #da4a0c;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  opacity: 0;
}
.form-review__rating {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: 1px solid #888888;
}
.form-review__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-review__body :focus {
  border: 1px solid #000;
}
.form-review__text-area {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  flex: 1 1 auto;
  min-height: 190px;
  resize: vertical;
  border: 1px solid #888888;
  padding: 15px 20px;
}
.form-review__btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #f36223;
  padding: 10px 20px;
  border-radius: 4px;
}
.form-review__btn:hover {
  background: #da4a0c;
}
.form-review__btn:active {
  background: #a93a09;
}

/* Рейтинг */
.rating {
  position: relative;
  font-size: 40px;
  line-height: 0.75;
  display: inline-block;
}
.rating::before {
  content: "★★★★★";
  display: block;
}
.rating__body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #888888;
}
.rating__label::before {
  content: "★";
  display: block;
}
.rating__label:hover, .rating__label:hover ~ .rating__label {
  color: #ffe682;
}
.rating__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  visibility: hidden;
  opacity: 0;
}
.rating__input:checked + .rating__label, .rating__input:checked + .rating__label ~ .rating__label {
  color: #ffd017;
}

/* Фреймы */
.iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.iframe__title {
  font-size: 14px;
  line-height: 17px;
  color: #989898;
}
.iframe__ads {
  width: 420px;
  height: 300px;
  border: 1px dashed #888888;
  background: #f0f0f0;
}

@media (max-width: 1499.98px) {
  .gallery__item {
    height: 272px;
  }
  .main-block__body {
    gap: 40px;
  }
  .main-block__sidebar {
    flex: 0 0 360px;
  }
  .main-block__content {
    margin-bottom: 44px;
  }
  .comparison {
    display: none;
  }
  .cart {
    width: 100%;
  }
  .iframe__ads {
    width: 100%;
  }
  .reviews__wrapper {
    min-width: 530px;
    margin-right: 400px;
  }
  .reviews__review:not(:last-child)::after {
    margin: 40px 0 40px 130px;
  }
  .review__avatar {
    height: 100px;
  }
  .review__grade {
    height: 20px;
  }
  .feedback__wrapper {
    min-width: 530px;
    margin-right: 400px;
    padding-left: 0;
  }
}
.visibleErr {
  border-color: #f36223;
  opacity: 1;
}

/* Футер */
.footer {
  background: #f2f2f2;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.footer__text {
  font-size: 14px;
  padding: 30px 0;
  flex: 0 1 558px;
}
.footer__text span {
  color: #f52;
}
.footer__up {
  flex: 0 1 auto;
}

.dark-theme {
  background: rgba(28, 28, 28, 0.9607843137);
  color: #eaeaea;
  transition: 0.5s;
}
.dark-theme .head {
  background: rgba(28, 28, 28, 0.9607843137);
}
.dark-theme .memory__btn {
  color: #eaeaea;
  border: 1px solid rgba(31, 31, 31, 0.662745098);
  background: rgba(46, 46, 46, 0.6784313725);
}
.dark-theme .memory__btn:active {
  outline: 1px solid #a93a09;
  border: 1px solid #a93a09;
  background: rgba(29, 29, 29, 0.6784313725);
}
.dark-theme .colors__btn {
  border: 1px solid rgba(31, 31, 31, 0.662745098);
  background: rgba(46, 46, 46, 0.6784313725);
}
.dark-theme .colors__btn:active {
  outline: 1px solid #a93a09;
  border: 1px solid #a93a09;
  background: rgba(29, 29, 29, 0.6784313725);
}
.dark-theme .comparison__table thead {
  color: #202124;
}
.dark-theme .comparison__table tbody tr:hover {
  background: #444444;
}
.dark-theme .cart {
  background: rgba(46, 46, 46, 0.6784313725);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.1);
  border-radius: 20px;
}
.dark-theme .cart__old-price {
  color: #eaeaea;
}
.dark-theme .iframe__ads {
  border-radius: 20px;
}
.dark-theme .form-review__input-user-name {
  border-radius: 10px;
}
.dark-theme .form-review__grade {
  border-radius: 10px;
}
.dark-theme .form-review__text-area {
  border-radius: 10px;
}
.dark-theme .footer {
  background: rgba(28, 28, 28, 0.9607843137);
}

/* Checkbox */
.dark-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}
.dark-mode__icon {
  height: 22px;
}
.dark-mode__btn {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  background: #ddd;
  border-radius: 15px;
}
.dark-mode__btn::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.dark-mode__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  visibility: hidden;
  opacity: 0;
}
.dark-mode__input:checked ~ .dark-mode__btn {
  background: #2aa0ff;
}
.dark-mode__input:checked ~ .dark-mode__btn::before {
  left: calc(100% - 17px);
}