.dark-theme {
  background: #1c1c1cf5;
  color: #eaeaea;
  transition: 0.5s;

  .head {
    background: #1c1c1cf5;
  }

  .memory__btn {
    color: #eaeaea;
    border: 1px solid #1f1f1fa9;
    background: #2e2e2ead;
    &:active {
      outline: 1px solid $darth-vader;
      border: 1px solid $darth-vader;
      background: #1d1d1dad;
    }
  }

  .colors {
    &__btn {
      border: 1px solid #1f1f1fa9;
      background: #2e2e2ead;
      &:active {
        outline: 1px solid $darth-vader;
        border: 1px solid $darth-vader;
        background: #1d1d1dad;
      }
    }
  }

  .comparison {
    &__table {
      thead {
        color: #202124;
      }
      tbody {
        tr {
          &:hover {
            background: #444444;
          }
        }
      }
    }
  }

  .cart {
    background: #2e2e2ead;
    border: 1px solid #00000000;
    box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.1);
    border-radius: 20px;

    &__old-price {
      color: #eaeaea;
    }
  }

  .iframe {
    &__ads {
      border-radius: 20px;
    }
  }

  .form-review {
    &__input-user-name {
      border-radius: 10px;
    }

    &__grade {
      border-radius: 10px;
    }

    &__text-area {
      border-radius: 10px;
    }
  }

  .footer {
    background: #1c1c1cf5;
  }
}

/* Checkbox */
.dark-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;

  &__icon {
    height: 22px;
  }

  &__btn {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    background: #ddd;
    border-radius: 15px;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    &:checked ~ .dark-mode__btn {
      background: #2aa0ff;
    }
    &:checked ~ .dark-mode__btn::before {
      left: calc(100% - 17px);
    }
  }
}
