/* Футер */
.footer {
  background: $light-gray;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__text {
    font-size: 14px;
    padding: 30px 0;
    flex: 0 1 558px;
    span {
      color: #f52;
    }
  }

  &__up {
    flex: 0 1 auto;
  }
}
