/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Inter:wght@400;500;700&display=swap');

/* Others */
body {
  font-family: 'Inter', sans-serif;
  transition: 0.5s;
}

a {
  color: $aqua;
  &:hover {
    color: $carrot;
  }
  &:active {
    color: $darth-vader;
  }
}

/* Оболочка */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

/* Контейнер */
.--container {
  max-width: ($maxWidthContainer) + px;
  margin: 0 auto;
  padding: 0 $paddingSideContainer + px;
  @media (max-width: ($md1 + px)) {
    max-width: 1024px;
    padding: 0 15px;
  }
  @media (max-width: ($md2 + px)) {
    max-width: 750px;
  }
  @media (max-width: ($md3 + px)) {
    max-width: none;
  }
}
