.head {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
  background: #ffffff;
  width: 100%;
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__body {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  &__logo {
    height: 40px;
  }

  &__img {
    height: 100%;
    transition: 0.1s;
    &:hover {
      animation: bzz 250ms ease-in;
    }
    @keyframes bzz {
      10% {
        transform: translate(-3px);
      }
      20% {
        transform: translate(3px);
      }
      30% {
        transform: translate(-3px);
      }
      40% {
        transform: translate(2px);
      }
      50% {
        transform: translate(-3px);
      }
      60% {
        transform: translate(2px);
      }
      70% {
        transform: translate(-3px);
      }
      80% {
        transform: translate(3px);
      }
      90% {
        transform: translate(-2px);
      }
      100% {
        transform: translate(3px);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    span {
      color: $carrot;
    }
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
    flex: 0 0 auto;
    cursor: pointer;
  }

  &__favorite {
    position: relative;
    height: 100%;
    max-width: 30px;
    z-index: 1;
  }

  &__favorite-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: calc(100% - 10px);
    font-size: 10px;
    font-weight: 700;
    color: white;
    background: #444444;
    padding: 2px 6px;
    border-radius: 500px;
    user-select: none;
  }

  &__cart {
    position: relative;
    height: 100%;
    max-width: 30px;
  }

  &__cart-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: calc(100% - 10px);
    font-size: 10px;
    font-weight: 700;
    color: white;
    background: #444444;
    padding: 2px 6px;
    border-radius: 500px;
    user-select: none;
  }
}
