/* Меню */
.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 8px 0px;
    gap: 4px;
  }

  &__link {
    color: $aqua;

    &:hover {
      color: $carrot;
    }

    &:active {
      color: $darth-vader;
    }
  }
  padding-top: 80px;
}

.hero {
  &__content {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
}

/* Галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  &__item {
    height: 387px;
  }
}

/* Центральный блок */
.main-block {
  &__content {
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }

  &__feature {
    flex: 1 1 auto;
  }

  &__colors {
    margin-bottom: 30px;
  }

  &__memory {
    margin-bottom: 30px;
  }

  &__specifications {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    flex: 1 0 420px;
  }

  &__iframe {
    height: 100%;
  }
}

/* Выбор цвета */
.colors {
  &__title {
    font-size: 16px;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    gap: 10px;
    list-style: none;
  }

  &__label {
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80px;
    height: 80px;
    padding: 10px 25px;
    border: 1px solid $medium-gray;
    border-radius: 4px;
    transition: background 0.3s ease;
    user-select: none;
    cursor: pointer;
    &:hover {
      background: $light-gray;
      box-shadow: 0 0 1px 0.5px #30cfff;
    }
    &:active {
      border: 1px solid $darth-vader;
      box-shadow: none;
      background: white;
    }
  }

  &__input:checked + &__btn {
    border: 1px solid $carrot;
    outline: 1px solid $carrot;
  }

  &__img {
    height: 100%;
  }
}

/* Выбор памяти */
.memory {
  &__title {
    font-size: 16px;
    padding-bottom: 15px;
  }
  &__list {
    display: flex;
    gap: 10px;
    list-style: none;
  }

  &__label {
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }

  &__input:checked + &__btn {
    border: 1px solid $carrot;
    outline: 1px solid $carrot;
  }

  &__btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid $medium-gray;
    border-radius: 4px;
    background: white;
    user-select: none;
    transition: background 0.3s ease;
    cursor: pointer;
    &:hover {
      background: $light-gray;
      box-shadow: 0 0 1px 0.5px #30cfff;
    }
    &:active {
      border: 1px solid $darth-vader;
      box-shadow: none;
      background: white;
    }
  }
}

/* Характеристики */
.specifications {
  &__title {
    font-size: 16px;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    list-style: none;
  }

  &__item {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background: $medium-gray;
      border-radius: 50%;
    }
    span {
      font-weight: bold;
    }
  }
}

/* Описание */
.description {
  &__title {
    font-size: 16px;
    padding-bottom: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
  }
}

/* Корзина */
.cart {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 420px;

  &__price {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
  }

  &__old-price {
    font-weight: 500;
    line-height: 16px;
    color: $medium-gray;
    text-decoration: line-through;
  }

  &__discount {
    padding: 4px 8px;
    background: $carrot;
    border-radius: 500px;
    color: white;
    font-weight: 500;
    line-height: 16px;
  }

  &__new-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }

  &__delivery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 35px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: $carrot;
    border-radius: 4px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: white;
    gap: 15px;
    transition: 0.4s;
    &:hover {
      background: $dark-carrot;
    }
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background: url(../src/images/cart.svg) center / contain no-repeat;
    }
    &:active {
      background: $darth-vader;
    }
  }

  &__favorite {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &:checked + .cart__heart {
      svg path {
        fill: #a93a09;
      }
    }
  }

  &__heart {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      svg path {
        fill: $carrot;
      }
    }
  }
}

/* Таблица сравнения */
.comparison {
  &__content {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 16px;
    padding-bottom: 15px;
  }

  &__table {
    min-width: 882px;
    border-collapse: collapse;

    thead {
      border: 1px solid $medium-gray;
      background: #e8edff;
    }

    tbody {
      border: 1px solid $medium-gray;

      tr {
        &:hover {
          background: $light-gray;
        }
      }
    }

    th,
    td {
      border-right: 1px solid $medium-gray;
      padding: 10px;
    }
  }
}

/* Отзывы */
.reviews {
  &__wrapper {
    max-width: 880px;
  }

  &__content {
    margin-bottom: 50px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__col-left {
    display: flex;
    gap: 10px;
  }

  &__title {
    font-size: 24px;
  }

  &__meter {
    font-weight: 700;
    font-size: 24px;
    color: #aaa;
  }

  &__btn {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    padding: 10px 20px;
    border: 1px solid $medium-gray;
    border-radius: 4px;
    background: white;
    &:hover {
      cursor: pointer;
      background: $light-gray;
    }
  }

  &__review {
    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        border-bottom: 1px dashed $medium-gray;
        margin: 40px 0 40px 170px;
      }
    }
  }
}

/* Отзыв */
.review {
  display: flex;
  gap: 30px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__avatar {
    height: 140px;
    border-radius: 50%;
  }

  &__header {
    padding-bottom: 20px;
  }

  &__author {
    font-size: 20px;
    padding-bottom: 10px;
  }

  &__iformation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      font-weight: bold;
    }
  }

  &__text {
    font-size: 14px;
  }
  &__subtitle {
    display: block;
  }
}

/* Форма для озыва */
.feedback {
  &__content {
    margin-bottom: 100px;
  }

  &__wrapper {
    max-width: 880px;
    padding-left: 170px;
  }

  &__title {
    padding-bottom: 10px;
  }

  &__body {
    width: 100%;
  }
}

.form-review {
  :active,
  :hover,
  :focus {
    outline: 0;
    outline-offset: 0;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 300px;
  }

  &__head {
    display: flex;
    gap: 40px;
    width: 100%;
  }

  &__label-user-name {
    position: relative;
    flex: 1 1 auto;
    :focus {
      border: 1px solid $black;
    }
  }

  &__input-user-name {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $medium-gray;
  }

  &__user-name-err {
    transition: 0.5s;
    @include error;
  }

  &__grade {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 175px;
  }

  &__grade-err {
    transition: 0.5s;
    @include error;
  }

  &__rating {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    border: 1px solid $medium-gray;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    :focus {
      border: 1px solid $black;
    }
  }

  &__text-area {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    flex: 1 1 auto;
    min-height: 190px;
    resize: vertical;
    border: 1px solid $medium-gray;
    padding: 15px 20px;
  }

  &__btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    background: $carrot;
    padding: 10px 20px;
    border-radius: 4px;
    &:hover {
      background: $dark-carrot;
    }
    &:active {
      background: $darth-vader;
    }
  }
}

/* Рейтинг */
.rating {
  position: relative;
  font-size: 40px;
  line-height: 0.75;
  display: inline-block;
  &::before {
    content: '★★★★★';
    display: block;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: $medium-gray;
    &::before {
      content: '★';
      display: block;
    }
    &:hover,
    &:hover ~ & {
      color: #ffe682;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    &:checked + .rating__label,
    &:checked + .rating__label ~ .rating__label {
      color: #ffd017;
    }
  }
}

/* Фреймы */
.iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 14px;
    line-height: 17px;
    color: $dark-gray;
  }

  &__ads {
    width: 420px;
    height: 300px;
    border: 1px dashed $medium-gray;
    background: #f0f0f0;
  }
}

@media (max-width: 1499.98px) {
  .gallery {
    &__item {
      height: 272px;
    }
  }

  .main-block {
    &__body {
      gap: 40px;
    }
    &__sidebar {
      flex: 0 0 360px;
    }
    &__content {
      margin-bottom: 44px;
    }
  }

  .comparison {
    display: none;
  }

  .cart {
    width: 100%;
  }

  .iframe {
    &__ads {
      width: 100%;
    }
  }

  .reviews {
    &__wrapper {
      min-width: 530px;
      margin-right: 400px;
    }
    &__review {
      &:not(:last-child) {
        &::after {
          margin: 40px 0 40px 130px;
        }
      }
    }
  }

  .review {
    &__avatar {
      height: 100px;
    }
    &__grade {
      height: 20px;
    }
  }

  .feedback {
    &__wrapper {
      min-width: 530px;
      margin-right: 400px;
      padding-left: 0;
    }
  }
}

.visibleErr {
  border-color: $carrot;
  opacity: 1;
}
