// Переменные
@use 'sass:math';
$maxWidthContainer: 1500;
$paddingContainer: 100;
$paddingSideContainer: math.div($paddingContainer, 2);
$md1: 1499.98;
$md2: 767.98;
$md3: 479.98;

// Цвета
$white: #fff;
$light-gray: #f2f2f2;
$medium-gray: #888888;
$dark-gray: #989898;
$black: #000;
$aqua: #008cf0;
$carrot: #f36223;
$dark-carrot: #da4a0c;
$darth-vader: #a93a09;

// Mixin
@mixin error {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: block;
  padding: 8px 20px;
  background: $dark-carrot;
  color: white;
  user-select: none;
  z-index: 1;
  opacity: 0;
}

// EM
@function em($px) {
  @return math.div($px, 16) + em;
}
